<div class="flex flex-column items-center mt-1">
    <img #img src="https://cdn-icons-png.flaticon.com/512/5987/5987462.png" alt="Logo" aria-haspopup="true" class="w-1 my-4"/>
    <br>

    <div class="flex flex-column gap-2 items-center">
        <label htmlFor="username">Username</label>
        <input pInputText id="username" aria-describedby="username-help" class="w-1/2"/>
    </div>

    <div class="flex flex-column gap-2 items-center">
        <label htmlFor="cartao">Cartão SUS</label>
        <input pInputText pKeyFilter="int" class="w-1/2"/>
    </div>

    <div class="flex flex-column gap-2 items-center">
        <label htmlFor="cpf">CPF</label>
        <input pInputText pKeyFilter="int" class="w-1/2"/>
    </div>

    <div class="flex flex-column gap-2 items-center">
        <label htmlFor="dataMascimento">Data de Nascimento</label>
        <form>
            <p-calendar formControlName="date" class="w-1/2"></p-calendar>
        </form>
    </div>

    <div class="flex flex-row gap-2">
        <div class="flex flex-column gap-2 items-center">
            <label htmlFor="endereco">Rua</label>
            <input pInputText id="rua" aria-describedby="endereco-help" class="w-15rem"/>
        </div>

        <div class="flex flex-column gap-2 items-center">
            <label htmlFor="cep">CEP</label>
            <input pInputText pKeyFilter="int" class="w-6"/>
        </div>
    </div>

    <div class="flex flex-row gap-2">
        <div class="flex flex-column gap-2 items-center">
            <label htmlFor="complemento">Complemento</label>
            <input pInputText id="complemento" aria-describedby="complemento-help" class="w-15rem"/>
        </div>

        <div class="flex flex-column gap-2 items-center">
            <label htmlFor="numero">N°</label>
            <input pInputText pKeyFilter="int" class="w-3"/>
        </div>
    </div>
</div>
