<div class=" items-center justify-center h-screen ">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 mx-auto">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Cadastrar Unidade basica de saúde</div>
        </div>

        <div>
            <div class="flex flex-row gap-4">
                <div class="w-full lg:w-1/2">
                    <label for="nome" class="block text-900 font-medium mb-2">Nome*</label>
                    <input id="nome" type="text" pInputText class="w-full mb-3" [(ngModel)]="unidadeBasicaSaude.nome">
                </div>
                <div class="w-full lg:w-1/2">
                    <label for="rua" class="block text-900 font-medium mb-2">Sigla</label>
                    <input id="rua" type="text" pInputText class="w-full mb-3" [(ngModel)]="unidadeBasicaSaude.sigla">
                </div>
            </div>

            <div class="flex flex-row gap-4">
                <div class="w-full lg:w-1/2">
                    <label for="rua" class="block text-900 font-medium mb-2">Rua*</label>
                    <input id="rua" type="text" pInputText class="w-full mb-3"
                        [(ngModel)]="unidadeBasicaSaude.endereco.rua">
                </div>

                <div class="w-full lg:w-1/2">
                    <label for="cep" class="block text-900 font-medium mb-2">CEP</label>
                    <input id="cep" type="text" placeholder="00000-000" pInputText class="w-full mb-3"
                        [(ngModel)]="unidadeBasicaSaude.endereco.codigoPostal">
                </div>

            </div>

            <div class="flex flex-row gap-4">
                <div class="w-full lg:w-1/2">
                    <label for="numero" class="block text-900 font-medium mb-2">Número*</label>
                    <input id="numero" type="text" placeholder="000" pInputText class="w-full mb-3"
                        [(ngModel)]="unidadeBasicaSaude.endereco.numero">
                </div>

                <div class="w-full lg:w-1/2">
                    <label for="complemento" class="block text-900 font-medium mb-2">Complemento</label>
                    <input id="complemento" type="text" placeholder="Outros" pInputText class="w-full mb-3"
                        [(ngModel)]="unidadeBasicaSaude.endereco.complemento">
                </div>

                <div class="w-full lg:w-1/2">
                    <label for="cep" class="block text-900 font-medium mb-2">Bairro*</label>
                    <input id="cep" type="text" pInputText class="w-full mb-3"
                        [(ngModel)]="unidadeBasicaSaude.endereco.bairro">
                </div>
            </div>


            <div class="flex flex-row gap-4">
                <div class="w-full lg:w-1/2">
                    <label for="complemento" class="block text-900 font-medium mb-2">Estado</label>
                    <input id="complemento" type="text" placeholder="UF" pInputText class="w-full mb-3"
                        [(ngModel)]="unidadeBasicaSaude.endereco.estado">
                </div>

                <div class="w-full lg:w-1/2">
                    <label for="complemento" class="block text-900 font-medium mb-2">Pais</label>
                    <input id="complemento" type="text" pInputText class="w-full mb-3"
                        [(ngModel)]="unidadeBasicaSaude.endereco.pais">
                </div>
            </div>

            <button pButton pRipple label="Confirmar" icon="pi pi-user" class="w-full" (click)="save()"></button>
        </div>
    </div>
</div>
