<div class="p-inputgroup">
    <button type="button" pButton label="Buscar" (click)="performSearch()"></button>
    <p-autoComplete *ngIf="searchForm.get('searchTerm')" [(ngModel)]="selectedItem" [suggestions]="suggestions"
        (completeMethod)="search($event)" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}"
        class="p-autocomplete" [formControl]="$any(searchForm.get('searchTerm'))">
    </p-autoComplete>
</div>

<br>
<p-table [value]="ubss" [tableStyle]="{'width': '100%'}" class="p-responsive">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            UBS
            <p-button icon="pi pi-refresh"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Sigla</th>
            <th>Imagem</th>
            <th>Endereço</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ubs let-index="rowIndex">
        <tr>
            <td>{{ubs.nome}}</td>
            <td>{{ubs.sigla}}</td>
            <td>Imagem da UBS</td>
            <td>{{getEndereco(ubs.endereco)}}</td>
            <td><button pButton class="p-button-text" icon="pi pi-trash" (click)="removeUbs(ubs)"></button></td>
        </tr>
    </ng-template>
</p-table>
