<div class="grid md:mt-8 ">
    <div class="col-6 md:col-4 ">
        <button pButton class="card md:w-full" routerLink="/ubs">
            <div class="text-center w-full">
                <img src="./assets/icons/hospital-96.png" alt="">
            </div>
        </button>
    </div>
    <div class="col-6 md:col-4 ">
        <button pButton class="card md:w-full" routerLink="/medicos">
            <div class="text-center w-full">
                <img src="./assets/icons/medic-96.png" alt="">
            </div>
        </button>
    </div>
    <div class="col-6 md:col-4">
        <button pButton class="card md:w-full" routerLink="/medicamentos">
            <div class="text-center w-full">
                <img src="./assets/icons/pills-96.png" alt="">
            </div>
        </button>
    </div>
    <div class="col-6 md:col-4">
        <button pButton class="card md:w-full" routerLink="/acompanhamento">
            <div class="text-center w-full">
                <img src="./assets/icons/prancheta-16-96.png" alt="">
            </div>
        </button>
    </div>
    <div class="col-6 md:col-4">
        <button pButton class="card md:w-full" routerLink="user">
            <div class="text-center w-full">
                <img src="./assets/icons/usuario-16-96.png" alt="">
            </div>
        </button>
    </div>
    <div class="col-6 md:col-4">
        <button pButton class="card md:w-full" >
            <div class="text-center w-full">
                <img src="./assets/icons/vacina-16-96.png" alt="">
            </div>
        </button>
    </div>
</div>
