



<p-table [value]="medics" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Nome </th>
            <th>Cargo</th>
            <th>Horario Disponiveis</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-medics let-columns="columns">
        <tr>
            <td>{{medics.nome}}</td>
            <td>{{medics.cargo}}</td>
            <td>{{medics.horario}}</td>
            <td><p-tag [value]="medics.status" [severity]="getSeverity(medics.status)"></p-tag></td>
        </tr>
    </ng-template>
</p-table>