<p-table [value]="medics" [tableStyle]="{'min-width': '50rem'}">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>Nome</th>
            <th>Cargo</th>
            <th>Observacao</th>
            <th>Status</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-medic>
        <tr>
            <td>{{medic.nome}}</td>
            <td>{{medic.cargo}}</td>
            <td>{{medic.observacao}}</td>
            <td><p-tag [value]="medic.status" [severity]="getSeverity(medic.status)"></p-tag></td>
        </tr>
    </ng-template>
</p-table>
